<!-- Slider to Add Purchase -->
<div class="off-canvas-menu" [ngClass]="{ 'open': togglePurchaseSlider}">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h3>Update Purchase</h3>
        <button type="button" class="no-border" (click)="togglePurchaseSlider = false">
          <span area-hidden="true" class="extraLarge-font">&times;</span>
        </button>
      </div>
    </div>

    <form #addPurchaseForm="ngForm">
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" name="purchaseQuantity" required
          [(ngModel)]="newPurchase.quantity" #purchaseQuantity="ngModel">
        <label class="text-danger" *ngIf="purchaseQuantity.touched&&purchaseQuantity.errors?.['required']">Quantity is required</label>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" name="purchasePrice" required
          [(ngModel)]="newPurchase.price" #purchasePrice="ngModel">
        <label class="text-danger" *ngIf="purchasePrice.touched&&purchasePrice.errors?.['required']">Price is required</label>
      </div>
      <div class="form-group">
        <label for="name">Total Amount:</label>
        <input type="number" class="form-control" name="purchaseAmount" required
          #purchaseAmount="ngModel" [(ngModel)]="newPurchase.totalAmount">
        <label class="text-danger" *ngIf="purchaseAmount.touched&&purchaseAmount.errors?.['required']">Amount is required</label>
      </div>
      <div class="form-group">
        <label for="description">Sale Date:</label>
        <input type="date" class="form-control" name="purchaseDate" required 
          [(ngModel)]="newPurchase.purchaseDate" #purchaseDate="ngModel">
        <label class="text-danger" *ngIf="purchaseDate.touched&&purchaseDate.errors?.['required']">Date is required</label>
      </div>
      <button type="button" class="button mt-3"
      (click)="addPurchaseForm.form.valid?updatePurchase(newPurchase):enablePurchaseValidation()">
        Update Purchase</button>
    </form>
  </div>
</div>

<div class="container m-0 pt-3">
  <h2>Purchases</h2>

  <table *ngIf="purchases && purchases.length > 0">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let purchase of purchases">
        <td>{{ purchase.productName || '(Product not found)' }}</td>
        <td>{{ purchase.price}}</td>
        <td>{{ purchase.quantity }}</td>
        <td>{{ purchase.totalAmount }}</td>
        <td>{{ purchase.purchaseDate | date }}</td>
        <td>
          <button class="btn" (click)="editPurchase(purchase)">
            <i class="fas fa-pen mr-2"></i>Edit</button>
          <button class="btn" (click)="deletePurchase(purchase.id)">
            <i class="fas fa-trash mr-2"></i>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!purchases || purchases.length === 0">No purchases found.</p>
</div>
