body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #5d4848;
    padding: 1rem 2rem;
  }
  
  nav {
    display: flex;
  }
  
  nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  nav a.active {
    background-color: #550404;
    border-radius: 5px;
  }
  nav a:hover{
    cursor: pointer;
  }
  
  main {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
  }
  